* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 2px;
    font-family: 'Poppins', sans-serif;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
}

.nav {
    top:0;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(rgba(39,39,39, 0.6), transparent);
    backdrop-filter: blur(5px);
    width: 100%;
    height: 80px;
}

.nav-logo {
    font-size: 2rem;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    padding-left: 100px;
}

.nav-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right:100px;
}

.nav-menu li {
    list-style: none;
    padding: 0 1rem;
}

.nav-menu a {
    display: block;
    text-decoration: none;
    color: #fff;
    padding: 0.5rem 0;
    transition: all 0.3s ease-in-out;
}

.nav-menu a:hover {
    color: #f44336;
}

.nav-button .btn{
    width: 130px;
    height: 40px;
    font-weight: 500px;
    background: rgba(255, 255, 255, 0.4);
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: .3s ease;
    position: relative;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0.3,0,0.7),rgba(0,0,0,0.7)), url(images/banner-news-1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.hero h1 {
    font-size: 5rem;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    margin-bottom: 1rem;
}

.hero p {
    font-size: 1.5rem;
    color: #fff;
    margin-bottom: 2rem;
    max-width: 500px;
}

.hero button {
    font-size: 1.2rem;
    padding: 0.5rem 2rem;
    border-radius: 30px;
    border: none;
    background-color: #fff;
    color: #333;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.hero button:hover {
    background-color: #f44336;
    color: #fff;
}

.connect-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    background-color: black;
    margin: 5px;
}

.connect-section .container-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 80px;
}

.connect-section .container-buttons .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.whatsapp-button-container a {
    font-size: 2rem;
    font-weight: bold;
    color: black; /* Set anchor tag text color to black */
    text-decoration: none;
}

.whatsapp-button-container {
    padding: 2rem 2rem;
    border-radius: 30px;
    border: none;
    background-color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    margin-right: 40px;
}

.whatsapp-button-container:hover {
    background-color: #f44336;
    color: #fff;
}

.whatsapp-button-container a:hover {
    color: #fff;
}

.connect-section .container-buttons .button-container a {
    display: inline-block;
    text-decoration: none;
    color: black;
    padding: 0.5rem 2rem;
    border-radius: 30px;
    border: none;
    background-color: #354;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.connect-section .container-buttons .button-container a:hover {
    text-decoration: none;
    background-color: #f44336;
    color: #fff;
}

.fetch-button-container a {
    font-size: 2rem;
    font-weight: bold;
    color: black; /* Set anchor tag text color to black */
    text-decoration: none;
}

.fetch-button-container {
    padding: 2rem 2rem;
    border-radius: 30px;
    border: none;
    background-color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    margin-right: 40px;
}

.fetch-button-container:hover {
    font-color: white;
    background-color: #f44336;
    color: white;

}

.fetch-button-container a:hover {
    color: #fff;
}

.flash-message-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    background-color: black;
}

.flash-message-section div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 800px;
    padding: 2rem;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.flash-message-section ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.flash-message-section li {
    margin-bottom: 1rem;
}

.icons{
    background-color: black;
    padding:200px;
}


.onelink {
    position: center;
    margin-bottom: 15px;
    margin-left: 10px;
    margin-right: 105px;
}

.cnet {
    margin-right: 90px;
}

.y {
    margin-right: 105px;
}

.techCrunch {
    margin-right: 105px;
}

.Foss {
    margin-right: 105px;
}

.threesixty {
    margin-top: 30px;
}

#partners {
color: white;
margin-left: 40px;
text-align: center;
font-size: 30px;
padding-bottom: 40px
}

footer {
    background-color: #333;
    color: #fff;
    padding: 50px 0;
}

.f-contact {
    display: flex;
    justify-content: space-between;
    margin-left: 110px;
}

.f-contact div {
    flex: 1;
    margin-right: 20px;
}

.f-contact div:last-child {
    margin-right: 0;
}

.f-contact h1 {
    font-size: 18px;
    margin-bottom: 15px;
}

.f-contact p {
    margin: 5px 0;
}

.fa {
    font-size: 24px;
    margin-right: 10px;
    color: #fff;
}

.Copyright p {
    display: flex;
    justify-content: space-between;
    margin-left: 68vh;
    color: antiquewhite;
}

