<!DOCTYPE html>
<html class="no-js">
   <head>
       <meta charset="utf-8">
       <meta http-equiv="X-UA-Compatible" content="IE=edge">
       <title>Grok Coders</title>
       <meta name="description" content="">
       <meta name="viewport" content="width=device-width, initial-scale=1">
       <link rel="stylesheet" href="{{ url_for('static', filename='adcss.css') }}">
       <!-- google fonts -->
       <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Raleway:wght@300;400;500;700;900&display=swap" rel="stylesheet">
       <!-- fontawesome -->
       <script src="https://kit.fontawesome.com/dbed6b6114.js" crossorigin="anonymous"></script>
   </head>
   <body>
       <!-- header -->
       <header>
           <nav class="nav">
               <div class="nav-logo">
                   <p>GROK CODERS</p>
               </div>
               <ul class="nav-menu">
                   <li><a href="{{ url_for('login') }}" class="link">Login</a></li>
                   <li><a href="{{ url_for('home') }}" class="link">Home</a></li>
                   <li><a href="{{ url_for('about') }}" class="link">About</a></li>
                   <li><a href="{{ url_for('contact') }}" class="link">Contact Us</a></li>
                   <li><a href="logout.html" class="link">Logout</a></li>
               </ul>
           </nav>
       </header>
       <main>
           <section class="main-container-right">
               <h2>Latest News</h2>
               {% for news in news_updates %}
               <article>
                   <h4>Just In</h4>
                   <div>
                       <h2>{{ news.headline }}</h2>
                       <p>{{ news.headline }}</p>
                       <a href="{{ news.link }}">Read More <span>>></span></a>
                   </div>
<!--                   <img src="{{ url_for('static', filename='images/right-1.jpg') }}" alt="News Image">-->
               </article>
               {% endfor %}
           </section>
       </main>
       <footer>
           <div class="f-contact">
               <div>
                   <h1>Stay Informed</h1>
                   <p>Join over to receive tech updates</p>
                   <i class="fa fa-whatsapp"></i>
                   <i class="fa fa-instagram"></i>
                   <i class="fa fa-telegram"></i>
                   <i class="fa fa-twitter"></i>
               </div>
               <div>
                   <h1>Useful Links</h1>
                   <p>About Us</p>
                   <p>Blog Posts</p>
                   <p>Pricing Plans</p>
               </div>
               <div>
                   <h1>Details</h1>
                   <p>About</p>
                   <p>Pricing Plans</p>
               </div>
               <div>
                   <h1>Help & Support</h1>
                   <p>Privacy Policy</p>
                   <p>Terms & Conditions</p>
                   <p>Technical Support</p>
                   <p>Customer Care</p>
               </div>
           </div>
           <div class="Copyright">
               <p>Copyright &copy; 2025 All rights reserved | Grok Coder</p>
           </div>
       </footer>
   </body>
</html>
